body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 80%;
    border: 2px solid black;
    justify-content: center;
}

.Rock,.Paper,.Scissors{
    flex: 1;
    display: flex;
    justify-content: center;
}