body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 80%;
}

.Rock,.Paper,.Scissors{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 500px;
    color: white;
    font-family: 'staatliches',cursive;
    align-items:center;
    font-size: 48px;
}

.Rock{
    background-color: #795548;
}

.Paper{
    background-color: #757575;
}

.Scissors{
    background-color:#ff5722;
}