body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 80%;
}

.Rock,.Paper,.Scissors{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 500px;
}

.Rock{
    background-color: #795548;
}

.Paper{
    background-color: #fafafa;
}

.Scissors{
    background-color:#ff5722;
}